#footer {
  position: fixed;
  padding:  2% 4%;
  height: 5vh;
  //color: #ffffff;
  //background-color: #000;
  font-size: 90%;
  z-index: 4;
  min-width: 100%;
  top:92%;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  a{
    //color:#ffffff;
    margin:0px 2px;
  }
}
