<div style="background-image: url('https://s.yimg.com/ap/build/images/sohp/womens-month-mar-2018/lauramcgregor_towerbridge.jpg');position: absolute;width: 100%;height: 100%;background-position: 50%;background-repeat: no-repeat;background-size: cover;); width:100%"></div>
<div class="current-inspiration mat-body-strong" fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start start">
  <div class="mat-h1" ngClass.xs="mat-h4" style="z-index: 5">
    Flickr Progressive Web Application
  </div>
  <div class="mat-h3" ngClass.xs="mat-h4"  style="z-index: 5">
    Created with passion using : Angular 7, Workbox, Angular Material, NgRx, Angular Flex
  </div>
  <div class="view-project" style="z-index: 5">
    <button  class="button-github" [ngClass.xs]="'button-github-xs'" (click)="goToGithub()" matTooltip="View Project on github" mat-flat-button> View on Github</button>
  </div>

  <div class="author-details" [ngStyle.xs]="{marginTop:'5vh'}">
    <div>Tower Bridge, Morning Fog</div>
    <div>by Laura McGregor </div>
  </div>
</div>
