<div style="background-image: url('https://s.yimg.com/ap/build/images/sohp/womens-month-mar-2018/lauramcgregor_towerbridge.jpg');position: absolute;width: 100%;height: 100%;background-position: 50%;background-repeat: no-repeat;background-size: cover;); width:100%"></div>
<div class="current-inspiration" fxLayout="row" fxLayoutAlign="start center" >
  <div class="mat-h1" style="z-index: 5">
    Flickr Progressive Web Application
  </div>
  <div class="mat-h3" style="z-index: 5">
    Created with passion using : Angular 7, Angular Flex, Angular Material, Workbox, NgRx
  </div>
  <div class="view-project" style="z-index: 5">
    <button  class="button-github" matTooltip="View Project on github" mat-flat-button> View on Github</button>
  </div>
</div>
