.current-inspiration{
  min-height: 20vh;
  width: 40vw;
  margin-left: 27vw;
  margin-top:45vh;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .view-project{
    .button-github{
      width:20vw;
      height: 5vh;
    }
  }
}
