:host {
  display: block;
  width: 100%;
}
.filter-container{
  margin-top: 2vh;
  .filter-form{
    mat-form-field{
      margin-right: 10px;
      &.tag-list{
        width: 20%;
      }
    }

  }
  .filter-form-xs{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}
