<div class="filter-container">
  <mat-divider></mat-divider>
    <form class="filter-form">
    <!--Min upload date -->
    <mat-form-field>
      <input matInput [matDatepicker]="pickerMinDate" placeholder="Minimum upload date">
      <mat-datepicker-toggle matSuffix [for]="pickerMinDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerMinDate></mat-datepicker>
    </mat-form-field>
    <!--min upload date-->
    <!--Max upload date -->
    <mat-form-field>
      <input matInput [matDatepicker]="pickerMaxDate" placeholder="Maximum upload date">
      <mat-datepicker-toggle matSuffix [for]="pickerMaxDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerMaxDate></mat-datepicker>
    </mat-form-field>
    <!--max upload date-->
    <!--filter-->
    <mat-form-field class="tag-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                  [removable]="removable" (removed)="removeTag(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New Tag..."
               #tagsInput
               [formControl]="tagsControl"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>

    </mat-form-field>


    <mat-form-field>
      <mat-select placeholder="Tags Mode">
        <mat-option *ngFor="let tagMode of tagsMode"
                    [value]="tagMode.value">
          {{tagMode.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--filter-->

  </form>
</div>
