.filter-container{
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-top: 2vh;
  .filter-form{
    mat-form-field{
      margin-right: 10px;
      &.tag-list{
        width: 400px;
      }
    }

  }
}
